@mixin abs-position(
  $top: "auto",
  $right: "auto",
  $bottom: "auto",
  $left: "auto"
) {
  position: absolute;
  top: $top;
  right: $right;
  bottom: $bottom;
  left: $left;
}

@mixin rounded-border($radius) {
  border-radius: $radius;
}
