@import "./mixins.scss";


//Main table colors
$table-dark: lightgray;
$table-light: whitesmoke;
$table-border: gray;

//Modify default bootstrap table colors
th {
  background-color: $table-dark;
}

tr:nth-child(odd) {
  background-color: white;
}

tr:nth-child(even) {
  background-color: $table-light;
}

.table-bordered th {
  border: 2px solid $table-border;
}

.table-bordered tr {
  border: 2px solid $table-border;
}

.table-bordered td {
  border: 2px solid $table-border;
}

// Search box
.has-search .form-control {
  padding-left: 38px;
}

.has-search .search-icon {
  @include abs-position();
  display: block;
  width: 38px;
  height: 38px;
  line-height: 38px;
  text-align: center;
  color: #aaa;
}

.search {
  @include rounded-border(2rem);
  width: 340px;
}
